{% extends 'base.html' %}
{% block title %}Создать пост{% endblock title %}
{% block content %}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8 p-5">

                <div class="card">
                    <div class="card-header">
                        Новый пост
                    </div>
                    <div class="card-body">
                        <form id="add_form" method="post" action="{% url 'posts:post_create' %}">
                            {% csrf_token %}
                            {% if errors %}
                                {{ form.non_field_errors }}
                                {% for error in errors %}
                                    <div class="alert-danger">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                            {{ form }}
                        </form>
                        <div class="modal-footer">
                            <button form="add_form" type="submit" class="btn btn-primary">Добавить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}